.signup {
    display: flex;
    flex: 1;
    flex-direction: row;
    /* padding: 15px; */
    height: 100vh;
    background: linear-gradient(106.37deg,
            #ffe1bc 29.63%,
            #ffefd1 51.55%,
            #f3c6f1 90.85%)
}

.fields_wrapper {
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 5px;
}

.signup_password_fields {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background: none;
    font-size: 14px;
    font-weight: 500;
    padding: 0px 7px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 2px solid #888888;
    border-left: 2px solid;
    border-top: 1px solid #888888;
}

.signup_body {
    display: flex;
    flex: 1;
    margin: 1%;
}

.signup_right {
    display: flex;
    flex: .75;
    margin: auto;
    flex-direction: column;
    background: var(--glass);
    box-shadow: 3px 3px 5px #888888;
    border-radius: 5px;
    padding: 25px;
}

.signup_right_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.s-fields {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background: none;
    font-size: 14px;
    font-weight: 500;
    border-radius: 7px;
    padding: 0px 7px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 2px solid #888888;
    border-left: 2px solid;
    border-top: 1px solid #888888;
}

.signup_button {
    display: flex;
    width: '100%';
    height: 40px;
    margin: 5px 0px;
    justify-content: center;
    align-items: center;
    color: white;
    background: #888888;
    border: 2px solid #888888;
    border-radius: 5px;
}

/* ----------------(Media Query)----------------*/
@media screen and (max-width: 415px) {
    .signup_body {
        margin: 1%;
    }

    .signup_left {
        display: none;
    }

    .signup_right {
        flex: 1;
        margin: 1%;
        justify-content: center;
    }

    .signup_logo {
        height: 25vh;
        width: 25vh;
        margin-bottom: 45px;
    }
}